*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background: #0d0d0d;
    color: #ffffff;
    font-family: "Poppins", sans-serif;
}


/* HEADER */
header {
    width: 100%;
    padding: 20px 50px;
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    background: #111;
    z-index: 1000;
    border-bottom: 1px solid #222;
}

.logo {
    font-size: 24px;
    font-weight: 600;
}

.logo span {
    color: #00eaff;
}

nav a {
    margin-left: 20px;
    color: #ccc;
    text-decoration: none;
    transition: 0.3s;
}

nav a:hover {
    color: #00eaff;
}

/* HERO SECTION */
.hero {
    height: 100vh;
    display: flex;
    align-items: center;
    padding-left: 80px;
    background: linear-gradient(90deg, #0d0d0d, #1a1a1a);
    position: relative;
}

.hero-text h1 {
    font-size: 48px;
}

.hero-text h1 span {
    color: #00eaff;
}

.hero-text p {
    margin: 10px 0 20px;
    font-size: 20px;
    color: #bbb;
}

.btn {
    background: #00eaff;
    color: #000;
    border: none;
    padding: 10px 25px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
    font-weight: bold;
    text-decoration: none;
}

.btn:hover {
    background: #00bcd4;
}

/* FIXED PROFILE IMAGE CIRCLE */
.img {
    height: 500px;
    width: 500px;
    position: absolute;
    right: 80px;
    bottom: 120px;
    border-radius: 50%;
    overflow: hidden;
    border: 4px solid #00eaff;
    background: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: float 3s ease-in-out infinite;
}

.img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

/* floating animation */
@keyframes float {
    0%, 100% { transform: translateY(0); }
    50% { transform: translateY(-8px); }
}


/* SECTIONS */
section {
    padding: 80px 50px;
}

.title {
    font-size: 32px;
    margin-bottom: 20px;
    color: #00eaff;
}

/* SKILLS */
.skill-box span {
    display: inline-block;
    margin: 10px;
    padding: 8px 15px;
    background: #1d1d1d;
    border: 1px solid #333;
    border-radius: 5px;
}

/* PROJECTS */
.project-card {
    background: #1a1a1a;
    border: 1px solid #333;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
}

.project-card h3 {
    color: #00eaff;
}

/* FOOTER */
footer {
    text-align: center;
    padding: 20px;
    background: #111;
    border-top: 1px solid #222;
    margin-top: 30px;
}
